<pr-race [event]="racesStartedEvent" 
         [race]="race" [index]="i" 
         *ngFor="let race of races; let i = index" 
         [raceLength]="raceLength"
         [poniesAreAboutToFinish]="poniesAreAboutToFinish"
         [startPos]="toStartPosition">
</pr-race>

<app-controls [raceLength]="raceLength" 
              [poniesAreAboutToFinish]="poniesAreAboutToFinish" 
              (raceStarted)="racesAreStarted($event)"
              (newRace)="toStartPos($event)">
</app-controls>
<app-show-information [event]="racesStartedEvent" [raceLength]="raceLength"></app-show-information>    
