pr-race {
    margin: 0 auto;
    width: 70%;
    display: block;
    display: flex;
}

app-controls {
    display: flex;
    justify-content: center;
    bottom: 50px;
}
app-show-information {
    position: absolute;
    top: 0;
    left: 100px;
    white-space: nowrap;
    width: auto;
    font-family: monospace;
}