pr-race {
    margin: 0 auto;
    width: 70%;
    display: block;
    display: flex;
}

app-controls {
    display: flex;
    justify-content: center;
    position: relative;
}
app-show-information {
    position: relative;
    top: 0;
    left: 100px;
    white-space: nowrap;
    width: auto;
    font-family: monospace;
}
@media screen and (max-width: 812px) {
    pr-race {
        width: 85%;
        height: 70px;
    }
    app-show-information
    {
        left: 0;
    }
}