.btn {
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin: 10px;
    opacity: 1;
    cursor: pointer;
}

.btn.add {
    background-color: #784a9a;
}

.btn.start {
    background-color: #477914;
}
.btn:hover {
    opacity: .9;
}

form {
    display: flex;
}

form input {
    border-radius: 10px;
    height: 35px;
    border: 1px solid #c1b8b8;
    padding-left: 5px;
    align-self: center;
}
