.show-scores {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    justify-content: space-between;
}
.show-notification {
    position: relative;
    margin: 0 34%;
    color: red;
    font-size: 20px;
    font-family: monospace;
    opacity: .6;
    top: 90px;
}

.score-list {
    border: 1px solid tomato;
    border-radius: 10px;
    padding-inline-start: 0;
    padding: 5px 15px 15px 15px;
    width: 44%;
    overflow: hidden;
}

.score-list li {
    list-style: none;
}
.score-list li:first-child {
    margin-bottom: 10px;
}
.btn {
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin: 10px;
    opacity: 1;
    cursor: pointer;
}
.btn:disabled {
    background-color: grey!important;
    opacity: .7;
}
.btn.cancel {
    background-color: #c73939;
    flex: 1;
}
p.race-count {
    flex: 3;
    font-size: 17px;
}
@media screen and (max-width: 812px) {
    p.race-count {
        font-size: 13px;
        margin: 0;
    }
    .btn.cancel {
        font-size: 12px;
        height: 25px;
        margin: 0 0 10px 0;
    }
    .score-list li:first-child {
        margin-bottom: 2px;
    }
    .show-notification {
        margin: 0 20%;
        top: 200px;
    }
}
