<button *ngIf="poniesAreAboutToFinish.value > 0" [disabled]="raceRuns" (click)="startRace()"
        class="btn start">Start Race</button>
<button *ngIf="poniesAreAboutToFinish.value === 0" (click)="toStart()"
        class="btn start">To the start</button>
<button *ngIf="!addPonyForm"
        (click)="addPony()"
        [disabled]="raceRuns"
        class="btn add"> Add Pony </button>
        
<form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="addPonyForm">
  <input name="name" placeholder="please type Pony name" ngModel required>
  <button [disabled]="!f.valid" class="btn add" type="submit">Confirm</button>
</form>